In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("Data/preprocessed.csv")
data = data.drop('Unnamed: 0',axis=1)
data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,OrderYear,OrderMonth,isLate,CustomerName,FraudOrder
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,Smart watch,327.75,0,2/3/2018 22:56,Standard Class,2018,1,False,Cally Holloway,False
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,Smart watch,327.75,0,1/18/2018 12:27,Standard Class,2018,1,True,Irene Luna,False
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,Smart watch,327.75,0,1/17/2018 12:06,Standard Class,2018,1,False,Gillian Maldonado,False
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,Smart watch,327.75,0,1/16/2018 11:45,Standard Class,2018,1,False,Tana Tate,False
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,Smart watch,327.75,0,1/15/2018 11:24,Standard Class,2018,1,False,Orli Hendricks,False